asgiref==3.8.1
beautifulsoup4==4.12.3
Django==5.0.8
django-bootstrap4==23.1
django-forms-bootstrap==3.1.0
django-phonenumber-field==8.0.0
phonenumbers==8.13.42
phonenumberslite==8.13.42
pillow==10.4.0
psycopg2-binary==2.9.9
soupsieve==2.5
sqlparse==0.5.1
tzdata==2024.1